:root {
  --bg-main: #023859;
  --bg-card: #035b86;
  --bg-hover: #0378a6;

  --border: #0378a6;

  --text-primary: #f5f8fa;
  --text-secondary: #cfe3ed;

  --accent: #f29727;
  --accent-strong: #f27507;

  --danger: #d95407;

  --space-sm: 0.625rem;
  --space-md: 0.875rem;
  --space-lg: 1.5rem;
}
